<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>Welcome to Grails</title>
</head>
<body>
<table>
    <tr>
        <td>Name</td>
    </tr>
<g:each in="${list}" var = "artist">
    <tr>
        <td>${artist.name}</td>
    </tr>
</g:each>
</table>
</body>
</html>